<div class="container w-75 p-3 bg-body-secondary">
	<div class="row">
		<div class="col">
			<h1><%= recipe.title %></h1>
			<div class="mb-2 container d-flex flex-row">
				<% recipe.tags.each do |tag| %>
					<h5 class="me-3"><%= link_to tag.name.capitalize, tag_recipes_path(tag), class: "text-decoration-none" %></h5>
				<% end %>
			</div>
			<div class="px-3">
				<p><%= recipe.description %></p>
			</div>
		</div>
	</div>
	<div class="row px-3">
		<div class="col">
			<table class="table text-center table-borderless">
				<tbody class="align-middle">
				<tr>
					<td><b>Cook Time:</b> <%= recipe.cook_time %></td>
					<td><b>Prep Time:</b> <%= recipe.prep_time %></td>
					<td><b>Total Time:</b> <%= recipe.total_time %></td>
				</tr>
				<tr>
					<td colspan="3"><b>Yield:</b> <%= recipe.yield %></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<h6 class="">By <%= link_to recipe.author.username, recipe.author, class: "text-light-emphasis" %></h6>
</div>

