<div class="container bg-light w-75">
	<div class="p-3 border-bottom border-secondary">
		<h2 class="p-1">Ingredients</h2>
		<ul class="list-group list-group-flush p-0 ">
			<% ingredients.each do |ingredient| %>
				<li class="list-group-item py-3" data-controller="toggle" data-toggle-toggled-value="false" data-toggle-toggled-class="text-decoration-line-through">
					<%= check_box_tag("", class: "form-check-input border-2 border-dark", data: { action: "click->toggle#toggle" }) %>
					<span data-toggle-target="item">
						<%= ingredient.quantity %> <%= ingredient.unit %> <%= link_to ingredient.ingredient.name, ingredient.ingredient, class: "text-decoration-none" %> <%= ingredient.notes %>
					</span>
				</li>
			<% end %>
		</ul>
	</div>
</div>