<div id="<%= dom_id recipe %>">
	<%= render partial: 'recipes/partials/header', locals: { recipe: recipe } %>
	
	<%= render partial: 'recipes/partials/ingredients', locals: { ingredients: recipe.recipe_ingredients } %>
	
	<%= render partial: 'recipes/partials/nutrition', locals: { nutrients: recipe.recipe_nutrients } %>
	
	<%= render recipe.sections %>
</div>

