<%= form_with model: @recipe do |f| %>
	<div class="container">
		<div id="recipe-form" class="row align-items-baseline m-2">
			<!-- Recipe Fields -->
			<div class="col-6 border border-black border-1 rounded-2 align-items-baseline p-2">
				<h2>Recipe Info</h2>
				<div>
					<div class="row">
						<div class="col">
							<div class="d-flex">
								<%= f.label :title, "Title", class: "form-label" %>
								<%= f.text_field :title, class: "form-control" %>
							</div>
							
							<div class="d-flex">
								<%= f.label :description, "Description", class: "form-label" %>
								<%= f.text_area :description, class: "form-control" %>
							</div>
						</div>
						
						<div class="col">
							<div class="d-flex">
								<%= f.label :prep_time, "Prep Time", class: "form-label" %>
								<%= f.text_field :prep_time, class: "form-control" %>
							</div>
							
							<div class="d-flex">
								<%= f.label :cook_time, "Cook Time", class: "form-label" %>
								<%= f.text_field :cook_time, class: "form-control" %>
							</div>
							<div></div>
							
							<div class="d-flex">
								<%= f.label :total_time, "Total Time", class: "form-label" %>
								<%= f.text_field :total_time, class: "form-control" %>
							</div>
							
							<div class="d-flex">
								<%= f.label :yield, "Yield", class: "form-label" %>
								<%= f.text_field :yield, class: "form-control" %>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Ingredient Fields -->
			<fieldset class="col-3 border border-black border-1 rounded-2 p-2" data-controller="dynamic-forms">
				<h2>Ingredients</h2>
				<table class="table align-middle" data-dynamic-forms-target="list" data-dynamic-forms-count-value="0">
					<thead class="table-group-divider">
					<tr>
						<th>Name</th>
						<th colspan="2">Quantity</th>
					</tr>
					</thead>
					<%= f.fields_for :recipe_ingredients do |ingredient| %>
						<%= render 'recipe_ingredient_fields', f: ingredient %>
					<% end %>
				</table>
				<%= add_child_button 'Add Ingredient', f, :recipe_ingredients, object: new_recipe_ingredient, partial: 'recipe_ingredient_fields', class: "btn btn-primary", table: true %>
			</fieldset>
			
			<!-- Nutrition Fields -->
			<fieldset class="col-3 border border-black border-1 rounded-2 p-2" data-controller="dynamic-forms" data-dynamic-forms-count-value="0">
				<h2>Nutrition Info</h2>
				<table class="table align-middle" data-dynamic-forms-target="list">
					<thead class="table-group-divider">
					<tr>
						<th>Name</th>
						<th colspan="3">Quantity</th>
					</tr>
					</thead>
					<%= f.fields_for :recipe_nutrients do |nutrient| %>
						<%= render 'recipe_nutrient_fields', f: nutrient %>
					<% end %>
				</table>
				<%= add_child_button 'Add Nutrient', f, :recipe_nutrients, object: new_recipe_nutrient, partial: 'recipe_nutrient_fields', class: "btn btn-primary", table: true %>
			</fieldset>
		</div>
		
		<!-- Tag Fields -->
		<div class="row border border-black border-1 rounded-2 m-2 p-2">
			<div class="col">
				<div class="row align-items-center justify-content-start" data-controller="dynamic-forms" data-dynamic-forms-count-value="0">
					<div class="col-1">
						<h3>Tags</h3>
					</div>
					<div class="col m-0 d-flex flex-row align-items-center justify-content-start">
						<fieldset class="me-2 row" data-dynamic-forms-target="list">
							<%= f.fields_for :tags do |tag| %>
								<%= render 'tag_fields', f: tag %>
							<% end %>
						</fieldset>
						<div class="col-1">
							<%= add_child_button 'Add Tag', f, :tags, object: new_tag, partial: 'tag_fields', class: "btn btn-primary" %>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Section Fields -->
		<div class="col border border-black border-1 rounded-2 m-2" data-controller="dynamic-forms" data-dynamic-forms-count-value="1">
			<div class="col m-2 p-2">
				<h2>Instructions</h2>
				<fieldset data-dynamic-forms-target="list">
					<%= f.fields_for :sections do |sf| %>
						<%= render partial: 'section_fields', locals: { f: sf } %>
					<% end %>
				</fieldset>
				<%= add_child_button 'Add Section', f, :sections, object: new_section, partial: 'section_fields', class: "btn btn-primary" %>
			</div>
		</div>
	</div>
	
	<!-- Actions -->
	<div id="form-actions">
		<%= f.submit "Submit" %>
	</div>
<% end %>

