<div id="<%= dom_id recipe %>">
	
	<%= render partial: 'header', locals: { recipe: recipe } %>
	
	<div class="row">
		<div class="col">
			<%= render partial: 'ingredients', locals: { ingredients: recipe.recipe_ingredients } %>
		</div>
		
		<div class="col">
			<%= render partial: 'nutrition', locals: { nutrients: recipe.recipe_nutrients } %>
		</div>
	</div>
	
	<div class="row">
		<%= render recipe.sections %>
	</div>
</div>

