<div id="recipe-nutrients-fields" class="container d-flex">
	<div data-model="recipe-nutrient" data-template="true">
		<div>
			<%= f.fields_for :nutrient_attributes do |nf| %>
				<%= nf.label :name, "Nutrient Name" %>
				<%= nf.text_field :name %>
			<% end %>
		</div>
		<div>
			<%= f.label :quantity, "Quantity" %>
			<%= f.text_field :quantity, class: "w-25" %>
		</div>
		<div>
			<%= f.label :unit, "Unit" %>
			<%= f.text_field :unit, class: "w-25" %>
		</div>
	</div>
	<%= link_to_remove_association 'Remove Nutrient', f %>
</div>

