<div class="container p-1" data-dynamic-forms-target="item">
	<div class="row border-bottom border-black m-auto p-2">
		<div class="col">
			<div class="row mb-3">
				<div class="col">
					<%= f.label :title, "Title", class: "form-label h4" %>
					<%= f.text_field :title, class: "form-control" %>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col">
					<%= f.label :description, "Description", class: "form-label h5" %>
					<%= f.text_area :description, class: "form-control" %>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Step Fields -->
	<div class="row" data-controller="dynamic-forms" data-dynamic-forms-count-value="1">
		<fieldset data-dynamic-forms-target="list">
			<%= f.fields :steps do |sf| %>
				<%= render 'step_fields', f: sf %>
			<% end %>
		</fieldset>
		<%= add_child_button 'Add Step', f, :steps, partial: 'step_fields', class: "btn btn-primary" %>
	</div>
	
	<div class="row m-auto p-3">
		<%= remove_child_button 'Remove Section', f, class: "btn btn-outline-danger btn-sm remove-child-button" %>
	</div>
</div>
