<div id="sections-fields" class="col m-2 p-2">
	<div data-model="section" data-template="true">
		<div class="container border-bottom border-black">
			<div>
				<%= f.label :title, "Title" %>
				<%= f.text_field :title %>
			</div>
			<div>
				<%= f.label :description, "Description" %>
				<%= f.text_area :description %>
			</div>
		</div>
		
		<!-- Step Fields -->
		<fieldset id="steps-fields">
			<%= f.fields :steps do |sf| %>
				<%= render 'step_fields', f: sf %>
			<% end %>
			<%= link_to_add_association 'Add Step', f, :steps %>
		</fieldset>
		
		<%= link_to_remove_association 'Remove Section', f %>
	</div>
</div>