<p style="color: green"><%= notice %></p>

<%= render @instruction_section %>

<div>
  <%= link_to "Edit this instruction section", edit_instruction_section_path(@instruction_section) %> |
  <%= link_to "Back to instruction sections", instruction_sections_path %>

  <%= button_to "Destroy this instruction section", @instruction_section, method: :delete %>
</div>
